<% if @article.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @article, html: {multipart: true} do |form| %>
    <% if current_user.correspondent? %>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= form.label :summary %>
        <%= form.text_area :summary, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.rich_text_area :body, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= form.file_field :image%>
      </div>
    <% end %>

    <% if current_user.editor? %>
      <div class="form-group">
        <%= form.label :edit_comment %>
        <%= form.text_area :edit_comment, class: 'form-control' %>
      </div>
    <% end %>
  
    <div>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'only_title', 'title_summary', 'private']%>
    </div>

    <div>
      <%= form.label :processing_status %><br>
      <% if current_user.editor? %>
      <%= form.select :processing_status, ['edit', 'ready']%>
      <% elsif current_user.correspondent? %>
      <%= form.select :processing_status, ['new']%>
      <%end%>
    </div>

    <div>
      <%= form.submit t('.submit', action: @article.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
      <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>