<% if signed_in? %>
<% if article.processing_status == 'new' && (current_user.editor? || current_user.admin?)%>
    <div class="not-ready-post">
        <h2><%= link_to article.title, article %></h2>
        <small>
        <time> <%= article.created_at.to_date.strftime("%d %B, %Y") %></time>
        </small>

        <div class="post-summary"> 
            <div class="clearfix"> 
                <%= image_tag article.image.url(:thumb), class: 'img-thumbnail thumb' if article.image? %>
                <%= article.summary %>
            </div>
        </div>
    </div>
<% end %>

<% if article.processing_status == 'edit' && (current_user.correspondent? || current_user.admin?)%>
    <div class="not-ready-post">
        <h2><%= link_to article.title, article %></h2>
        <small>
        <time> <%= article.created_at.to_date.strftime("%d %B, %Y") %></time>
        </small>

        <div class="post-summary"> 
            <div class="clearfix"> 
                <%= image_tag article.image.url(:thumb), class: 'img-thumbnail thumb' if article.image? %>
                <%= article.summary %>
            </div>
        </div>
    </div>
<% end %>
<% end %>
