<div class="post">
<% if signed_in? %>
<% if (current_user.correspondent? || current_user.editor?) && @article.processing_status != 'ready'%>
<h1><%= @article.processing_status %></h1>
<% end %>
<% end %>
    <h1><%= @article.title%></h1>
      <small>
        <time> <%= @article.created_at.to_date.strftime("%d %B, %Y") %></time>
        <% if signed_in? %>
        <% if (current_user.correspondent? || current_user.editor?) && @article.processing_status != 'ready'%>
        |
        <%= link_to "Изменить", edit_article_path(@article) %>
        <% end %> 
        <% if current_user.admin? || current_user.editor?%>
        |
        <%= link_to "Удалить", article_path(@article), method: :delete, data: { confirm: "Вы уверены?"} %> 
        <% end %>  
        <% end %> 
      </small>
  <div class="post-body"> 
    <%= image_tag @article.image.url(:large), class: 'img-show' if @article.image? %>
    <%= @article.body %>
  </div>
  <% if signed_in? %>
    <% if (current_user.correspondent? || current_user.editor?) && @article.processing_status != 'ready' && @article.edit_comment != nil%>
      <font size="5" color="red" face="Arial">Комментарий для редактирования: <%= @article.edit_comment %></font>
    <% end %>
  <% end %>
</div>